* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display:block;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.controls {
  margin-bottom: 10px;
}

.post-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.post-table th,
.post-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.row-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.row-item {
  cursor: pointer;
  transition: background-color 0.2s;
}


.row-item:hover {
  background-color: #f0f0f0; 
}

.row-item.active {
  background-color: #d3d3d3;
}


/* select box style */
/* CSS to style the form components and arrange them in a row */

.row {
  display: flex;
  flex-direction: row;
}



.form-labels {
  font-weight: bold;
  color: blue;
  display: flex;
  margin-bottom: 5px;
}
.form-select {
  width: 100%; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
} 



#data-grid-demo {
  min-height: 700px;
}


.marked-for-deletion {
  background-color: red;
 
}

.full-screen-modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.selected-row {
  background-color: orange; 
}


/* Add this CSS to your stylesheet */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.custom-table th, .custom-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.custom-table th {
  background-color: #f0f0f0;
}

.custom-table tr:hover {
  background-color: #f9f9f9;
}




